<div class="col-md-3">
  <div class="box box-default box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">项目类型</h3>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="display: block;">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="categories.name" name="select_columns[]">
          类型名
        </label>
      </div>

    </div>
    <!-- /.box-body -->
  </div>

  <div class="box box-default box-solid ">
    <div class="box-header with-border">
      <h3 class="box-title">甲方</h3>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="display: block;">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="companies.name" name="select_columns[]">
          公司名
        </label>
      </div>

    </div>
    <!-- /.box-body -->
  </div>
  <div class="box box-default box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">代理商</h3>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="display: block;">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="agents.name" name="select_columns[]">
          代理公司名
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="agents.city" name="select_columns[]">
          代理城市
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="agents.username" name="select_columns[]">
          代理商姓名
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="agents.phone" name="select_columns[]">
          代理商电话
        </label>
      </div>


    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>