<div class="col-md-3">
  <div class="box box-default box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">组织</h3>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="display: block;">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="organizations.name" name="select_columns[]">
          组织名
        </label>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>