<div class="col-md-3">
  <div class="box box-default box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">项目</h3>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="display: block;">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="projects.name" name="select_columns[]">
          项目名
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="projects.approval_time" name="select_columns[]">
          项目批准时间
        </label>
      </div>

    </div>
<!--    <div class="box-body" style="display: block;">-->
<!--      <div class="checkbox">-->
<!--        <label>-->
<!--          <input type="checkbox" value="projects.need_payment" name="select_columns[]">-->
<!--          总下单金额-->
<!--        </label>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="box-body" style="display: block;">-->
<!--      <div class="checkbox">-->
<!--        <label>-->
<!--          <input type="checkbox" value="projects.payment" name="select_columns[]">-->
<!--          总回款金额-->
<!--        </label>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="box-body" style="display: block;">-->
<!--      <div class="checkbox">-->
<!--        <label>-->
<!--          <input type="checkbox" value="projects.deliver_amount" name="select_columns[]">-->
<!--          总发货金额-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="box-body" style="display: block;">-->
<!--      <div class="checkbox">-->
<!--        <label>-->
<!--          <input type="checkbox" value="projects.payment_percent" name="select_columns[]">-->
<!--          回款百分比-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>