<div class="col-md-3" id="products" style="display: none">
  <div class="box box-default box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">产品</h3>
      <!-- /.box-tools -->
    </div>
    <!-- /.box-header -->
    <div class="box-body" style="display: block;">
      <div class="checkbox">
        <label>
          <input type="checkbox" value="products.no" name="select_columns[]" disabled="dosabled">
          产品代码
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="products.name" name="select_columns[]" disabled="dosabled">
          产品名
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="products.product_no" name="select_columns[]" disabled="dosabled">
          产品型号
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="products.reference_price" name="select_columns[]" disabled="dosabled">
          产品单价
        </label>
      </div>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>