<% content_for :content_header do %>
  <h1>
    培训资料
    <small><%= get_title params %></small>

  </h1>
  <ol class="breadcrumb">
    <li>
      <%=link_to trains_path do %>
        <i class="fa fa-dashboard"></i> 培训资料
      <% end %>
    </li>
    <li class="active"><%= get_title params %></li>
  </ol>
<% end %>