<% content_for :content_header do %>
  <h1>
    战略合同
    <small><%= get_title params %></small>

  </h1>
  <ol class="breadcrumb">
    <li>
      <%=link_to contracts_path do %>
        <i class="fa fa-dashboard"></i> 战略合同
      <% end %>
    </li>
    <li class="active"><%= get_title params %></li>
  </ol>
<% end %>