<%= render 'contracts/header' %>

<div class="row">
  <div class="box-body">
    <div class="nav-tabs-custom">

      <ul class="nav nav-tabs" data-turbolinks="false">
        <li class="active"><a href="#tab_1" data-toggle="tab">详情</a></li>
        <li><a href="#tab_2" data-toggle="tab">价格体系</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
          <%= render 'contracts/detail', contract: @contract %>
        </div>
        <div class="tab-pane" id="tab_2">
          价格体系
        </div>
        <!-- /.tab-pane -->
      </div>
      <!-- /.tab-content -->
    </div>
    <!-- nav-tabs-custom -->
  </div>
</div>