<div id="form">
  <div class="modal-header" style="padding:5px; padding-left: 15px;">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="file-modal-label">
      添加商品
    </h4>
  </div>
  <%= simple_form_for(@order_product, url: new_order_path(@order.id.to_i, project_id: @project.id),html: {class: 'form-horizontal group_form', onkeydown: "if(event.keyCode==13)return false;"}, wrapper: :horizontal_form) do |f| %>
    <div class="modal-body" >
      <%= f.input :product_id, label: '序号 / 产品型号', input_html: { class: 'select2 form-control', style: 'width:100%' }, collection: @project.contract.sales.all.collect{|sale| ["#{sale.product.no} / #{sale.product.product_no}", sale.product.id, {price: sale.price, discount: sale.discount, discount_price: sale.discount_price}]} %>
      <%= f.input :number, label: '数量' %>
      <div class="form-group row string optional ">
        <label class="col-sm-3 col-form-label string optional" >价格（元）</label>
        <div class="col-sm-9">
          <span id="price"></span>
        </div>
      </div>
      <div class="form-group row string optional ">
        <label class="col-sm-3 col-form-label string optional" >总价（元）</label>
        <div class="col-sm-9">
          <span id="total_price"></span>
        </div>
      </div>
      <div class="form-group row string optional ">
        <label class="col-sm-3 col-form-label string optional" >折扣</label>
        <div class="col-sm-9">
          <span id="discount"></span>
        </div>
      </div>
      <div class="form-group row string optional ">
        <label class="col-sm-3 col-form-label string optional" >折后价（元）</label>
        <div class="col-sm-9">
          <span id="discount_price"></span>
        </div>
      </div>
      <div class="form-group row string optional ">
        <label class="col-sm-3 col-form-label string optional" >折后总价（元）</label>
        <div class="col-sm-9">
          <span id="discount_total_price"></span>
        </div>
      </div>
    </div>
  <% end %>

  <div class="modal-footer">
    <%= button_tag '保存', class: 'btn btn-primary commit commit', data: { disable_with: '保存中' } %>
    <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
  </div>
</div>
<script tye="text/javascript">
    //ajax提交表单
    $(function(){
        $('.commit').click(function(){
            $.ajax({
                type: "POST",
                url: $('.group_form').attr('action'),
                data: $('.group_form').serialize(),
                dataType: 'script',
                async: false,
                error: function(request) {
                    alert("Connection error");
                },
                success: function(data) {
                    //接收后台返回的结果
                }
            });

        })
        $('.select2').select2();
        //选择后显示 单价 折扣价
        function show_price(){
            if($('#order_product_product_id').val()){
                //
            }
        }
        //计算价格
        function show_total(){

        }
    });
</script>