<div class="row" style="padding-left: 15px; padding-right: 15px;">
  <form class="form-horizontal">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs" data-turbolinks="false">
        <li class="active"><a href="#tab_1" data-toggle="tab">检索条件</a></li>
        <li><a href="#tab_2" data-toggle="tab">分组信息</a></li>
        <li><a href="#tab_3" data-toggle="tab">查询内容</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
          <%= render 'dynamic_reports/search/search' %>
        </div>
        <div class="tab-pane" id="tab_2">
          <%= render 'dynamic_reports/search/group' %>

        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab_3">
          <%= render 'dynamic_reports/search/columns' %>
        </div>
        <!-- /.tab-pane -->
      </div>
      <div class="box-footer">
        <button type="submit" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-info pull-right">生成报表</button>
      </div>
      <!-- /.tab-content -->
    </div>
  </form>


</div>