
<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h4>项目报备</h4>

        <p style="height: 13px;"></p>
      </div>
      <div class="icon">
        <i class="fa  fa-building-o"></i>
      </div>
      <%= link_to report_project_path(@project), class: 'small-box-footer' do %>
        <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>

  <!-- ./col -->
  <% if @project.agent.present? %>
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h4>代理商</h4>

        <p style="height: 13px;"></p>
      </div>
      <div class="icon">
        <i class="fa fa-user"></i>
      </div>
      <%= link_to agent_project_path(@project), class: 'small-box-footer' do %>
        <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>
  <% end %>

  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h4>价格体系</h4>

        <p style="height: 13px;"></p>
      </div>
      <div class="icon">
        <i class="fa fa-money"></i>
      </div>
      <%= link_to sales_project_path(@project), class: 'small-box-footer' do %>
        详情 <i class="fa fa-arrow-circle-right"></i>
        <% end %>
    </div>
  </div>



</div>

