
<div class="row">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-aqua">
      <div class="inner">
        <h4>项目动态</h4>

        <p style="height: 13px;"></p>
      </div>
      <div class="icon">
        <i class="fa  fa-clock-o"></i>
      </div>
      <a href="#" class="small-box-footer">详情 <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
      <div class="inner">
        <h4>代理商</h4>

        <p style="height: 13px;"></p>
      </div>
      <div class="icon">
        <i class="fa fa-user"></i>
      </div>
      <%= link_to agent_project_path(@project), class: 'small-box-footer' do %>
        <i class="fa fa-arrow-circle-right"></i>
      <% end %>
    </div>
  </div>

  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
      <div class="inner">
        <h4>价格体系</h4>

        <p style="height: 13px;"></p>
      </div>
      <div class="icon">
        <i class="fa fa-money"></i>
      </div>
      <a href="#" class="small-box-footer">详情 <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
      <div class="inner">
        <h4>样品、礼品</h4>

        <p style="height: 13px;"></p>
      </div>
      <div class="icon">
        <i class="fa fa-gift"></i>
      </div>
      <a href="#" class="small-box-footer">详情 <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>


  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-purple">
      <div class="inner">
        <h4>特价申请</h4>

        <p style="height: 13px;"></p>
      </div>
      <div class="icon">
        <i class="fa fa-file-text-o"></i>
      </div>
      <a href="#" class="small-box-footer">详情 <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-light-blue">
      <div class="inner">
        <h4>订单</h4>

        <p style="height: 13px;"></p>
      </div>
      <div class="icon">
        <i class="fa fa-shopping-cart"></i>
      </div>
      <a href="#" class="small-box-footer">详情 <i class="fa fa-arrow-circle-right"></i></a>
    </div>
  </div>

</div>

