<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="订单报表">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">时间</Data></Cell>
        <Cell><Data ss:Type="String">订单金额</Data></Cell>
        <Cell><Data ss:Type="String">发货金额</Data></Cell>
        <Cell><Data ss:Type="String">回款金额</Data></Cell>
      </Row>
      <% @orders_bar_labels.each_with_index do |date, index| %>
        <Row>
          <Cell><Data ss:Type="String"><%= date %></Data></Cell>
          <Cell><Data ss:Type="String"><%= @orders_bar_data[0][index + (page_numbers params)] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= @orders_bar_data[1][index + (page_numbers params)] %></Data></Cell>
          <Cell><Data ss:Type="String"><%= @orders_bar_data[2][index + (page_numbers params)] %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>