<li class="time-label">
                  <span class="bg-purple">
                    保证金
                  </span>
</li>
<!-- /.timeline-label -->
<!-- timeline item -->
<li>
  <i class="fa fa-file-pdf-o bg-green"></i>

  <div class="timeline-item">
    <div class="form-group">

    </div>
    <div class="timeline-body">
      <label for="exampleInputFile">尾款请款资料</label>
      <input type="file" id="exampleInputFile">
    </div>
  </div>
</li>