<li class="time-label">
                  <span class="bg-purple">
                    项目合同
                  </span>
</li>
<!-- /.timeline-label -->
<!-- timeline item -->

<li>
  <i class="fa fa-file-pdf-o bg-green"></i>

  <div class="timeline-item">
    <div class="form-group">

    </div>
    <div class="timeline-body">
      <label for="exampleInputFile">项目合同文件</label>
      <div >
        <a class="btn btn-default " id="project_contract" href="#" >
          <i class="fa fa-plus"></i>
          <span>选择文件</span>
        </a>
      </div>

      <% if @project.project_contract.present? %>
      <a href="javascript:void(0)" onclick="show_file(this)" class="btn show-file" data-url="<%= @project.project_contract.preview_url%>" data-file-name="<%= @project.project_contract.file_name %>">
        <i class="fa fa-eye"></i><%= @project.project_contract.file_name %>
      </a>
      <% end %>
    </div>
  </div>
</li>

