<li class="time-label">
                  <span class="bg-green">
                    项目合同
                  </span>
</li>
<!-- /.timeline-label -->
<!-- timeline item -->
<li>
  <i class="fa fa-list-alt bg-aqua"></i>

  <div class="timeline-item">
    <div class="form-group">
      <button class="btn btn-xs bg-aqua">录入合同</button>
    </div>
    <div class="timeline-body">
      <div class="box box-default collapsed-box">
        <div class="box-header with-border">
          <h3 class="box-title">项目合同</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
            </button>
          </div>
          <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body" style="display: none;">
          <div class="table-responsive col-sm-6">
            <table class="table">
              <tbody>
              <tr>
                <th style="width:50%">战略合作方</th>
                <td>恒大地产</td>
              </tr>
              <tr>
                <th>产品品类</th>
                <td>开关</td>
              </tr>
              <tr>
                <th>合同有效期限</th>
                <td>2019-10-1</td>
              </tr>
              <tr>
                <th>合同编号</th>
                <td>HUGFRD11101</td>
              </tr>
              <tr>
                <th>供货周期</th>
                <td></td>
              </tr>

              </tbody>
            </table>
          </div>
          <div class="table-responsive col-sm-6">
            <table class="table">
              <tbody>
              <tr>
                <th style="width:50%">预付款请款时间</th>
                <td>30天</td>
              </tr>
              <tr>
                <th>进度款请款时间</th>
                <td>60天</td>
              </tr>
              <tr>
                <th>结算款请款时间</th>
                <td>80天</td>
              </tr>
              <tr>
                <th>尾款请款时间</th>
                <td>100天</td>
              </tr>

              </tbody>
            </table>
          </div>
          <div class="table-responsive col-sm-12">
            <table class="table">
              <tbody>
              <tr>
                <th style="width:20%;word-break : break-all;">合同明细</th>
                <td>
                  <textarea readonly style='width: 100%;' rows="5">
                    第一，单务合同和双务合同
单务合同，是指合同当事人仅有一方承担义务。　双务合同，是指合同的双方当事人互负对待给付义务的合同关系。
第二，有偿合同和无偿合同
有偿合同，是指一方通过履行合同规定的义务而给付对方某种利益，对方要得到该利益必须为此支付相应代价的合同。
无偿合同，是指一方给付某种利益，对方取得该利益时并不支付任何报酬的合同。
第三，有名合同和无名合同
有名合同，又称典型合同，是指法律上已经确定了一定的名称及规则的合同。
无名合同，又称非典型合同，是指法律上并未确定一定的名称及规则的合同。
第四，要式合同和不要式合同
要式合同，是指法律规定或当事人约定必须采取特殊形式订立的合同。
不要式合同，是指依法无需采取特定形式订立的合同。
                  </textarea>
                </td>
              </tr>
              <tr>
                <th style="width:20%;word-break : break-all;">其他关键条款</th>
                <td>
                  <textarea readonly style='width: 100%;' rows="5">
                    第一，单务合同和双务合同
单务合同，是指合同当事人仅有一方承担义务。　双务合同，是指合同的双方当事人互负对待给付义务的合同关系。
第二，有偿合同和无偿合同
有偿合同，是指一方通过履行合同规定的义务而给付对方某种利益，对方要得到该利益必须为此支付相应代价的合同。
无偿合同，是指一方给付某种利益，对方取得该利益时并不支付任何报酬的合同。
第三，有名合同和无名合同
有名合同，又称典型合同，是指法律上已经确定了一定的名称及规则的合同。
无名合同，又称非典型合同，是指法律上并未确定一定的名称及规则的合同。
第四，要式合同和不要式合同
要式合同，是指法律规定或当事人约定必须采取特殊形式订立的合同。
不要式合同，是指依法无需采取特定形式订立的合同。
                  </textarea>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</li>

<li>
  <i class="fa fa-file-pdf-o bg-yellow"></i>

  <div class="timeline-item">
    <div class="form-group">
      <label for="exampleInputFile">项目合同文件</label>
      <input type="file" id="exampleInputFile">
    </div>
    <div class="timeline-body">

    </div>
  </div>
</li>
