<li class="time-label">
                  <span class="bg-purple">
                    结清确认
                  </span>
</li>
<!-- /.timeline-label -->
<!-- timeline item -->
<li>
  <!--        <i class="fa fa-envelope bg-blue"></i>-->
  <i class="fa fa-check bg-blue"></i>
  <div class="timeline-item">
    <div class="timeline-body">
      <a data-toggle="modal" class="btn btn-xs bg-blue" onclick="done()">
        确认结清
      </a>
    </div>
  </div>
</li>