<li class="time-label">
                  <span class="bg-purple">
                    完善项目资料
                  </span>
</li>
<!-- /.timeline-label -->
<!-- timeline item -->
<li>
  <!--        <i class="fa fa-envelope bg-blue"></i>-->

  <div class="timeline-item">
    <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>

    <div class="timeline-body">
项目资料
    </div>
  </div>
</li>