<li class="time-label">
                  <span class="bg-purple">
                    开票
                  </span>
</li>
<!-- /.timeline-label -->
<!-- timeline item -->
<li id="invoices_item">
  <%= render 'projects/invoices_item'%>
</li>