<li class="time-label">
                  <span class="bg-purple">
                    订单
                  </span>
</li>
<!-- /.timeline-label -->
<!-- timeline item -->
<li id="orders_item">
<%= render 'projects/orders_item'%>
</li>