<li class="time-label">
                  <span class="bg-purple">
                    操作模式
                  </span>
</li>
<!-- /.timeline-label -->
<!-- timeline item -->
<li>
  <!--        <i class="fa fa-envelope bg-blue"></i>-->
  <i class="fa fa-cog bg-red"></i>
  <div class="timeline-item">
    <div class="timeline-body">
      <%= link_to edit_control_project_path(@project), 'data-toggle' => "modal", 'data-target' => "#global-modal", class: 'btn btn-xs bg-red' do %>
        设置
      <% end %>
    </div>
  </div>
</li>