<li class="time-label">
                  <span class="bg-purple">
                    金额确认
                  </span>
</li>
<!-- /.timeline-label -->
<!-- timeline item -->
<li>
  <!--        <i class="fa fa-envelope bg-blue"></i>-->
  <i class="fa fa-check bg-blue"></i>
  <div class="timeline-item">
    <div class="timeline-body">
      <%= link_to new_contract_path, 'data-toggle' => "modal", 'data-target' => "#global-modal", class: 'btn btn-xs bg-blue' do %>
        确认金额
      <% end %>
    </div>
  </div>
</li>