<li class="time-label">
                  <span class="bg-purple">
                    回款金额确认
                  </span>
</li>
<!-- /.timeline-label -->
<!-- timeline item -->
<li>
  <!--        <i class="fa fa-envelope bg-blue"></i>-->
  <i class="fa fa-check bg-blue"></i>
  <div class="timeline-item">
    <div class="timeline-body">
        <input class="form-control string optional" type="text" name="payment" id="payment" style="max-width: 250px;" placeholder="录入付款形式" value="<%=@project.payment %>">
      <a data-toggle="modal" class="btn btn-xs bg-blue" onclick="payment()">
        回款金额确认
      </a>
    </div>
  </div>
</li>