<li class="time-label">
                  <span class="bg-purple">
                    样板房
                  </span>
</li>
<!-- /.timeline-label -->
<!-- timeline item -->
<li>
  <i class="fa fa-file-pdf-o bg-green"></i>

  <div class="timeline-item">
    <div class="form-group">

    </div>
    <div class="timeline-body">
      <label for="exampleInputFile">样品清单</label>
      <div >
        <a class="btn btn-default " id="plate" href="#" >
          <i class="fa fa-plus"></i>
          <span>选择文件</span>
        </a>
      </div>

      <% if @project.plate.present? %>
        <a href="javascript:void(0)" onclick="show_file(this)" class="btn show-file" data-url="<%= @project.plate.preview_url%>" data-file-name="<%= @project.plate.file_name %>">
          <i class="fa fa-eye"></i><%= @project.plate.file_name %>
        </a>
        <%= link_to 'JavaScript:void(0)', onclick: "delete_attachment(#{@project.plate.id}, '#{delete_attachment_project_path @project.id}')",class: 'btn  btn-sm ', style: 'color: red' do %>
          删除
        <% end %>
      <% end %>
    </div>
  </div>
</li>