<% content_for :content_header do %>
  <h1>
    订单管理
    <small><%= get_title params %></small>

  </h1>
  <ol class="breadcrumb">
    <li>
      <%=link_to manage_orders_path do %>
        <i class="fa fa-dashboard"></i> 订单管理
      <% end %>
    </li>
    <li class="active"><%= get_title params %></li>
  </ol>
<% end %>