<% content_for :content_header do %>
  <h1>
    产品管理
    <small><%= get_title params %></small>

  </h1>
  <ol class="breadcrumb">
    <li>
      <%=link_to projects_path do %>
        <i class="fa fa-dashboard"></i> 产品管理
      <% end %>
    </li>
    <li class="active"><%= get_title params %></li>
  </ol>
<% end %>