<!DOCTYPE html>
<html>
<head>
  <title>龙胜</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    龙胜工程管理系统
  </div>
  <!-- /.login-logo -->
  <%= yield %>
</div>
<!-- /.login-box -->



</body>



</body>
</html>
